<style>
	table {
		background: #f1f1f1;
	}

	table td {
		border: 1px solid #eee;
		padding: 5px;
	}
</style>

<table>
	<caption>Domeny</caption>
	<% @domains.each_pair do |domain,user| %>
		<tr>
			<td>
				<%= user %>
			</td>
			<td>
				<%= domain %>
			</td>
		</tr>
	<% end %>
</table>

<table>
	<caption>Hosting</caption>
	<% @hostings.each_pair do |hosting,user| %>
		<tr>
			<td>
				<%= user %>
			</td>
			<td>
				<%= hosting %>
			</td>
		</tr>
	<% end %>
</table>