<%= simple_form_for @user, :html => {:class => "form-horizontal" } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.input :name  %>  
  <%= f.input :email  %>  
  <%= f.input :nick  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
