<div class="container">
  <h1>Listing users</h1>
    <% if flash[:notice] %>  
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
  <table class="table table-condensed table-hover">
    <colgroup>
      <col width="25%">
      <col width="25%">
      <col width="40%">
      <col width="10%">
    </colgroup>
    <thead>
      <th>asd</th>
      <th>fsa</th>
      <th>fsa</th>
      <th</th>
    </thead>

    <% @users.each do |user| %>
    <tr class="user_info">
      <td>
        <strong><%= user.name %></strong><br>
        <small><%= user.email %></small><br>
        <small><%= user.nick %></small>
      </td>
      <td>
        <%= link_to 'Edit', edit_user_path(user), :class => "btn btn-small"  %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger"  %>
      </td>
      <td>
        <%= link_to 'Dodaj domenę', new_user_domain_path(user), :class => "btn"  %>
        <%= link_to 'Dodaj hosting', new_user_hosting_path(user), :class => "btn" %>
      </td>
      <td>
        <button class="show_services btn btn-info">Usługi</button>
      </td>
    </tr>
    <tr class="services">
      <td colspan="2">
        <table class="domains table table-condensed table-bordered">
          <caption>Domeny</caption>
          <thead>
            <th>Name</th>
            <th>Renewed</th>
            <th>Expiring</th>
            <th>Real price</th>
            <th>Billed price</th>
          </thead>
          <% user.domains.each do |domain| %>
          <% if (domain.expiry_date - Date.current).to_i < 0 %>
            <tr class="alert alert-error">
          <% elsif (domain.expiry_date - Date.current).to_i < 14 %>
            <tr class="alert alert-warning">
          <% else %>
            <tr>
          <% end %>
            <td><%= domain.name %></td>
            <td><%= domain.renewal_date %></td>
            <td><%= domain.expiry_date %></td>
            <td><%= number_to_currency(domain.real_price, :locale => :pl, :unit => "PLN", :format => "%n %u"  ) %></td>
            <td><%= number_to_currency(domain.billed_price, :locale => :pl, :unit => "PLN", :format => "%n %u"  ) %></td>
            <td><%= link_to raw("<i class='icon-edit'></i>"), edit_user_domain_path(user,domain), :class => "btn btn-mini" %>&nbsp;<%= link_to raw("<i class='icon-trash icon-white'></i>"), user_domain_path(domain.user_id,domain), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger"  %></td>

          </tr>
          <% end %>
        </table>
      </td>
      <td colspan="2">
        <table class="hostings table table-condensed table-bordered">
          <caption>Hosting</caption>
          <thead>
            <th>Name</th>
            <th>Renewed</th>
            <th>Expiring</th>
            <th>Billed price</th>
          </thead>
          <% user.hostings.each do |hosting| %>
          <% if (hosting.expiry_date - Date.current).to_i < 0 %>
            <tr class="alert alert-error">
          <% elsif (hosting.expiry_date - Date.current).to_i < 14 %>
            <tr class="alert alert-warning">
          <% else %>
            <tr>
          <% end %>
            <td><%= hosting.name %></td>
            <td><%= hosting.renewal_date %></td>
            <td><%= hosting.expiry_date %></td>
            <td><%= number_to_currency(hosting.billed_price, :locale => :pl, :unit => "PLN", :format => "%n %u"  ) %></td>
            <td><%= link_to raw("<i class='icon-edit'></i>"), edit_user_hosting_path(user,hosting), :class => "btn btn-mini" %>&nbsp;<%= link_to raw("<i class='icon-trash icon-white'></i>"), user_hosting_path(hosting.user_id,hosting), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger"  %></td>
          </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New User', new_user_path, :class => "btn btn-warning" %>
</div>