<%= simple_form_for [@user,@domain], :html => {:class => "form-horizontal"} do |f| %>
  <%= f.hidden_field :user_id, :value => params[:user_id] %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.input :name  %>  
  <%= f.input :renewal_date  %>  
  <%= f.input :expiry_date  %>
  <%= f.input :real_price  %>
  <%= f.input :billed_price  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
