<h1>Listing domains</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @domains.each do |domain| %>
  <tr>
    <td><%= link_to 'Show', user_domains %></td>
    <td><%= link_to 'Edit', edit_user_domain_path(domain) %></td>
    <td><%= link_to 'Destroy', user_domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Domain', new_user_domain_path %>
