<h1>Listing hostings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hostings.each do |hosting| %>
  <tr>
    <td><%= link_to 'Show', hosting %></td>
    <td><%= link_to 'Edit', edit_hosting_path(hosting) %></td>
    <td><%= link_to 'Destroy', hosting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hosting', new_hosting_path %>
